
html, body, .app, .main {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .slider {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
    .slider-wrapper {
      position: relative;
      height: 100%;
      width: 100%;
    }
      .slide {
        display: inline-block;
        height: 100%;
        width: 100%;
        margin: 0
      }
    
      .right-arrow {
          cursor: pointer;
          display: inline-block;
          background-color: darkgray;
          border-radius: 100%;
          padding: 6px;
          margin: 10px;
      }
      .right-arrow:hover {
        background-color: white;
        padding: 11px;
        animation-name: arrows;
        animation-duration: .3s;
        animation-iteration-count: 1
    }

      .left-arrow {
          cursor: pointer;
          display: inline-block;
          background-color: darkgray;
          border-radius: 100%;
          padding: 6px;
          margin: 10px;
      }
      .left-arrow:active {
          animation-name: arrow-click;
          animation-duration: .3s;
          animation-iteration-count: 5;

      }
      .left-arrow:hover {
          background-color: white;
          padding: 11px;
          animation-name: arrows;
          animation-duration: .3s;
          animation-iteration-count: 1
      }
      .dots {
          height: 8px;
          width: 8px;
          border-radius: 100%;
          background-color: grey;
          display: inline-block;
          vertical-align: middle;
          margin: 10px;
          font-size: .001px
      }
      .hdots {
        height: 12px;
        width: 12px;
        border-radius: 100%;
        background-color: white;
        display: inline-block;
        vertical-align: middle;
        margin: 6px;
        animation-name: dot-animation;
        animation-duration: .3s;
        animation-iteration-count: 1;
        font-size: .001px
    }

    .slideshow {
        color: grey;
        cursor: pointer;
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
    }
    .slideshow:hover {
        color: white
    }
    
    .preview-container {
        display: inline-block;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        margin: 10px
    }
    .image-preview {
        position: relative;
        display: inline-block;
        object-fit: cover;
        width: 100%;
        height: 100%;
        vertical-align: center;
    }
    .drop-zone {
        max-width: 80%;
        min-width: 40%;
        margin: 20px;
        cursor: pointer;
        min-height: 200px;
        max-height: 100%;
        background-color: rgb(240,240,240);
        vertical-align: center;
        color: grey;
        display: inline-block;
        border-radius: 10px;
        border-color: slategray;
    }
    .album-container {
        position: relative;
        width: 50%;
        overflow: hidden;
        display: inline-block;
        background-size: 100%;
        background-position: 50% 60%
    }
    .album-container:after {
        content: "";
        display: inline-block;
        padding-bottom: 50%;
      }
    .album-image {
        position: relative;
        object-fit: cover;
        width: 100%;

    }
    .card-overlay {
        margin: 0; 
        text-align: left; 
         transform: translateY(-65px);
         z-index: 2; 
         color: white;
         height: 0px;
        }

        .albums-bar {
            width: 1005;
            height: 50px;
            padding: 8px;
            background-color: white;
            text-align: left;
            color: steelblue
        }

    @keyframes arrows {
        from { background-color: darkslategray; padding: 6px; transform: rotate(0deg)}
        to { background-color: white; padding: 11px; transform: rotate(360deg)}
    }

    @keyframes arrow-click {
        from { background-color: white; transform: translateX(0px)}
        to { background-color: black; transform: translateX(-1000px)}
    }

    @keyframes dot-animation {
        from {background-color: darkgray; height: 6px; width: 6px; }
        to {background-color: white; height: 13px; width: 13px;}
    }