.App {
  text-align: center;
  background-color: white;
  display: block;
  width: 100%;
  
}

.nav-bar {
  height: 60px;
  background: linear-gradient(to right, royalblue, rgb(97, 125, 209));
  display: block;
  position: sticky;
  top: 0px;
  z-index: 1;
  text-align: center;
}

.nav-link {
  color: white;
  display: inline-block;
  vertical-align: center;
  margin: 10px;
  cursor: pointer;
  position: relative
}